:root {
  --color-principal: #90a081;
  --color-secundario: #f1ac7b;
  --color-boton: #ffc107;
  --color-consola: #000;
  --color-letracons: #0dad4a;
}
main .contenido-principal {
  background-color: var(--color-principal);
  height: 100vh;
  padding-top: 20px;
}
main .contenido-principal span {
  padding-bottom: 40px;
}
main .contenido-principal div .boton {
  background-color: var(--color-boton);
  border-radius: 10px;
  border-color: var(--color-boton);
  padding: 7px;
}
main .contenido-secundario {
  background-color: var(--color-secundario);
  height: 100vh;
  padding-top: 20px;
}

main .contenido-secundario .padre1 {
  padding-bottom: 80vh;
}
main .contenido-secundario .padre1 .padre2 {
  padding-left: 15px;
  height: 80vh;
}
main .contenido-secundario .padre1 .padre2 .consola {
  padding: 8px 16px;
  margin: 0 auto;
  border-radius: 5px;
  display: block;
  height: 100%;
  width: inherit;
  overflow-y: auto;
  background-color: var(--color-consola);
  color: var(--color-letracons);
}
.consola pre {
  color: var(--color-letracons);
  font-size: 10px;
}
